postings.txt
preprocessing.txt
data/dataset.csv
dictionary.txt
dataset.csv
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/encodings.xml
search_HW4_local.py
Dataset.xlsx
.idea/workspace.xml
.idea/modules.xml
.idea/Retrieve-Law.iml
.idea/misc.xml
